// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0 auto;
	background-image: url('https://static.pexels.com/photos/346885/pexels-photo-346885.jpeg');
	background-size: 100% 120%;
	background-repeat: no-repeat;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	font-family: 'IM Fell Double Pica', serif;
	text-decoration: none;
	

}



